In [1]:
from pyspark.sql import SparkSession
from pyspark import SparkConf

In [18]:
from pyspark.sql.functions import col

In [2]:
import os
import findspark
findspark.find()
findspark.init()
import pyspark

In [3]:
spark = (SparkSession.builder.appName("YouTubeAnalytics").getOrCreate())

In [4]:
spark.conf.set("spark.sql.execution.arrow.enabled",'true')

In [13]:
file_loc = "D:/YT Project/USvideos.csv"

US_df = (spark.read.format("csv").option("header","true").option("inferSchema","true").load(file_loc))

In [14]:
US_df.show(5)

+-----------+-------------+--------------------+--------------------+-----------+-------------------+--------------------+-------+------+--------+-------------+-----------------+----------------+
|   video_id|trending_date|               title|       channel_title|category_id|       publish_time|                tags|  views| likes|dislikes|comment_count|comments_disabled|ratings_disabled|
+-----------+-------------+--------------------+--------------------+-----------+-------------------+--------------------+-------+------+--------+-------------+-----------------+----------------+
|2kyS6SvSYSE|     17.14.11|WE WANT TO TALK A...|        CaseyNeistat|         22|2017-11-13 22:43:01|     SHANtell martin| 748374| 57527|    2966|        15954|            false|           false|
|1ZAPwfrtAFY|     17.14.11|The Trump Preside...|     LastWeekTonight|         24|2017-11-13 13:00:00|"last week tonigh...|2418783| 97185|    6146|        12703|            false|           false|
|5qpjK5DgCt4|     17.14.11|Racist Superman |...|        Rudy Mancuso|         23|2017-11-13 00:35:24|"racist superman|...|3191434|146033|    5339|         8181|            false|           false|
|puqaWrEC7tY|     17.14.11|Nickelback Lyrics...|Good Mythical Mor...|         24|2017-11-13 16:30:04|"rhett and link|"...| 343168| 10172|     666|         2146|            false|           false|
|d380meD0W0M|     17.14.11|I Dare You: GOING...|            nigahiga|         24|2017-11-12 23:31:41|"ryan|""higa""|""...|2095731|132235|    1989|        17518|            false|           false|
+-----------+-------------+--------------------+--------------------+-----------+-------------------+--------------------+-------+------+--------+-------------+-----------------+----------------+
only showing top 5 rows

In [36]:
file_loc2 = "D:/YT Project/category_title.csv"

category_df = (spark.read.format("csv").option("inferSchema","true").load(file_loc2))

In [40]:
category_df=category_df.withColumnRenamed("_c0","category_id").withColumnRenamed("_c1","category")

In [41]:
category_df.show(5)

+-----------+----------------+
|category_id|        category|
+-----------+----------------+
|          1|Film & Animation|
|          2|Autos & Vehicles|
|         10|           Music|
|         15|  Pets & Animals|
|         17|          Sports|
+-----------+----------------+
only showing top 5 rows

In [17]:
US_df.columns

['video_id',
 'trending_date',
 'title',
 'channel_title',
 'category_id',
 'publish_time',
 'tags',
 'views',
 'likes',
 'dislikes',
 'comment_count',
 'comments_disabled',
 'ratings_disabled']

### ●	Top 3 videos for which user interaction (views + likes + dislikes + comments) is the highest

In [23]:
US_updated=US_df.withColumn("Addition",col("views")+col("likes")+col("comment_count")+col("dislikes")).orderBy("Addition",ascending=False)

In [28]:
US_updated.show(3)

+-----------+-------------+--------------------+-------------------+-----------+-------------------+--------------------+---------+-------+--------+-------------+-----------------+----------------+---------+
|   video_id|trending_date|               title|      channel_title|category_id|       publish_time|                tags|    views|  likes|dislikes|comment_count|comments_disabled|ratings_disabled| Addition|
+-----------+-------------+--------------------+-------------------+-----------+-------------------+--------------------+---------+-------+--------+-------------+-----------------+----------------+---------+
|VYOjWnS4cMY|     18.02.06|Childish Gambino ...|ChildishGambinoVEVO|         10|2018-05-06 09:30:07|"Childish Gambino...|225211923|5023450|  343541|       517232|            false|           false|231096146|
|VYOjWnS4cMY|     18.01.06|Childish Gambino ...|ChildishGambinoVEVO|         10|2018-05-06 09:30:07|"Childish Gambino...|220490543|4962403|  338105|       512337|            false|           false|226303388|
|VYOjWnS4cMY|     18.31.05|Childish Gambino ...|ChildishGambinoVEVO|         10|2018-05-06 09:30:07|"Childish Gambino...|217750076|4934188|  335462|       509799|            false|           false|223529525|
+-----------+-------------+--------------------+-------------------+-----------+-------------------+--------------------+---------+-------+--------+-------------+-----------------+----------------+---------+
only showing top 3 rows

### ●	Top 3 videos for which user interaction (views + likes + dislikes + comments) is the highest

In [31]:
US_updated_low=US_df.withColumn("Addition",col("views")+col("likes")+col("comment_count")+col("dislikes")).orderBy("Addition",ascending=True)

In [32]:
US_updated_low.show(3)

+-----------+-------------+--------------------+-------------+-----------+-------------------+--------------------+-----+-----+--------+-------------+-----------------+----------------+--------+
|   video_id|trending_date|               title|channel_title|category_id|       publish_time|                tags|views|likes|dislikes|comment_count|comments_disabled|ratings_disabled|Addition|
+-----------+-------------+--------------------+-------------+-----------+-------------------+--------------------+-----+-----+--------+-------------+-----------------+----------------+--------+
|y6KYFcta4SE|     18.26.01|1 dead, others in...|        Newsy|         25|2018-01-23 21:00:01|"shooting|""kentu...|  549|    9|       0|            5|            false|           false|     563|
|y6KYFcta4SE|     18.27.01|1 dead, others in...|        Newsy|         25|2018-01-23 21:00:01|"shooting|""kentu...|  554|    9|       0|            4|            false|           false|     567|
|y6KYFcta4SE|     18.28.01|1 dead, others in...|        Newsy|         25|2018-01-23 21:00:01|"shooting|""kentu...|  559|    9|       0|            4|            false|           false|     572|
+-----------+-------------+--------------------+-------------+-----------+-------------------+--------------------+-----+-----+--------+-------------+-----------------+----------------+--------+
only showing top 3 rows

### ●	Top 3 videos of each category in each year

In [42]:
joined_df=US_df.join(category_df)

In [44]:
joined_df.show(3,truncate=False)

+-----------+-------------+----------------------------------+-------------+-----------+-------------------+---------------+------+-----+--------+-------------+-----------------+----------------+-----------+----------------+
|video_id   |trending_date|title                             |channel_title|category_id|publish_time       |tags           |views |likes|dislikes|comment_count|comments_disabled|ratings_disabled|category_id|category        |
+-----------+-------------+----------------------------------+-------------+-----------+-------------------+---------------+------+-----+--------+-------------+-----------------+----------------+-----------+----------------+
|2kyS6SvSYSE|17.14.11     |WE WANT TO TALK ABOUT OUR MARRIAGE|CaseyNeistat |22         |2017-11-13 22:43:01|SHANtell martin|748374|57527|2966    |15954        |false            |false           |1          |Film & Animation|
|2kyS6SvSYSE|17.14.11     |WE WANT TO TALK ABOUT OUR MARRIAGE|CaseyNeistat |22         |2017-11-13 22:43:01|SHANtell martin|748374|57527|2966    |15954        |false            |false           |2          |Autos & Vehicles|
|2kyS6SvSYSE|17.14.11     |WE WANT TO TALK ABOUT OUR MARRIAGE|CaseyNeistat |22         |2017-11-13 22:43:01|SHANtell martin|748374|57527|2966    |15954        |false            |false           |10         |Music           |
+-----------+-------------+----------------------------------+-------------+-----------+-------------------+---------------+------+-----+--------+-------------+-----------------+----------------+-----------+----------------+
only showing top 3 rows

In [88]:
joined_df.createGlobalTempView("mytable1")

In [154]:
joined_df.show()

+-----------+-------------+--------------------+-------------+-----------+-------------------+---------------+------+-----+--------+-------------+-----------------+----------------+-----------+--------------------+
|   video_id|trending_date|               title|channel_title|category_id|       publish_time|           tags| views|likes|dislikes|comment_count|comments_disabled|ratings_disabled|category_id|            category|
+-----------+-------------+--------------------+-------------+-----------+-------------------+---------------+------+-----+--------+-------------+-----------------+----------------+-----------+--------------------+
|2kyS6SvSYSE|     17.14.11|WE WANT TO TALK A...| CaseyNeistat|         22|2017-11-13 22:43:01|SHANtell martin|748374|57527|    2966|        15954|            false|           false|          1|    Film & Animation|
|2kyS6SvSYSE|     17.14.11|WE WANT TO TALK A...| CaseyNeistat|         22|2017-11-13 22:43:01|SHANtell martin|748374|57527|    2966|        15954|            false|           false|          2|    Autos & Vehicles|
|2kyS6SvSYSE|     17.14.11|WE WANT TO TALK A...| CaseyNeistat|         22|2017-11-13 22:43:01|SHANtell martin|748374|57527|    2966|        15954|            false|           false|         10|               Music|
|2kyS6SvSYSE|     17.14.11|WE WANT TO TALK A...| CaseyNeistat|         22|2017-11-13 22:43:01|SHANtell martin|748374|57527|    2966|        15954|            false|           false|         15|      Pets & Animals|
|2kyS6SvSYSE|     17.14.11|WE WANT TO TALK A...| CaseyNeistat|         22|2017-11-13 22:43:01|SHANtell martin|748374|57527|    2966|        15954|            false|           false|         17|              Sports|
|2kyS6SvSYSE|     17.14.11|WE WANT TO TALK A...| CaseyNeistat|         22|2017-11-13 22:43:01|SHANtell martin|748374|57527|    2966|        15954|            false|           false|         18|        Short Movies|
|2kyS6SvSYSE|     17.14.11|WE WANT TO TALK A...| CaseyNeistat|         22|2017-11-13 22:43:01|SHANtell martin|748374|57527|    2966|        15954|            false|           false|         19|     Travel & Events|
|2kyS6SvSYSE|     17.14.11|WE WANT TO TALK A...| CaseyNeistat|         22|2017-11-13 22:43:01|SHANtell martin|748374|57527|    2966|        15954|            false|           false|         20|              Gaming|
|2kyS6SvSYSE|     17.14.11|WE WANT TO TALK A...| CaseyNeistat|         22|2017-11-13 22:43:01|SHANtell martin|748374|57527|    2966|        15954|            false|           false|         21|       Videoblogging|
|2kyS6SvSYSE|     17.14.11|WE WANT TO TALK A...| CaseyNeistat|         22|2017-11-13 22:43:01|SHANtell martin|748374|57527|    2966|        15954|            false|           false|         22|      People & Blogs|
|2kyS6SvSYSE|     17.14.11|WE WANT TO TALK A...| CaseyNeistat|         22|2017-11-13 22:43:01|SHANtell martin|748374|57527|    2966|        15954|            false|           false|         23|              Comedy|
|2kyS6SvSYSE|     17.14.11|WE WANT TO TALK A...| CaseyNeistat|         22|2017-11-13 22:43:01|SHANtell martin|748374|57527|    2966|        15954|            false|           false|         24|       Entertainment|
|2kyS6SvSYSE|     17.14.11|WE WANT TO TALK A...| CaseyNeistat|         22|2017-11-13 22:43:01|SHANtell martin|748374|57527|    2966|        15954|            false|           false|         25|     News & Politics|
|2kyS6SvSYSE|     17.14.11|WE WANT TO TALK A...| CaseyNeistat|         22|2017-11-13 22:43:01|SHANtell martin|748374|57527|    2966|        15954|            false|           false|         26|       Howto & Style|
|2kyS6SvSYSE|     17.14.11|WE WANT TO TALK A...| CaseyNeistat|         22|2017-11-13 22:43:01|SHANtell martin|748374|57527|    2966|        15954|            false|           false|         27|           Education|
|2kyS6SvSYSE|     17.14.11|WE WANT TO TALK A...| CaseyNeistat|         22|2017-11-13 22:43:01|SHANtell martin|748374|57527|    2966|        15954|            false|           false|         28|Science & Technology|
|2kyS6SvSYSE|     17.14.11|WE WANT TO TALK A...| CaseyNeistat|         22|2017-11-13 22:43:01|SHANtell martin|748374|57527|    2966|        15954|            false|           false|         29|Nonprofits & Acti...|
|2kyS6SvSYSE|     17.14.11|WE WANT TO TALK A...| CaseyNeistat|         22|2017-11-13 22:43:01|SHANtell martin|748374|57527|    2966|        15954|            false|           false|         30|              Movies|
|2kyS6SvSYSE|     17.14.11|WE WANT TO TALK A...| CaseyNeistat|         22|2017-11-13 22:43:01|SHANtell martin|748374|57527|    2966|        15954|            false|           false|         31|     Anime/Animation|
|2kyS6SvSYSE|     17.14.11|WE WANT TO TALK A...| CaseyNeistat|         22|2017-11-13 22:43:01|SHANtell martin|748374|57527|    2966|        15954|            false|           false|         32|    Action/Adventure|
+-----------+-------------+--------------------+-------------+-----------+-------------------+---------------+------+-----+--------+-------------+-----------------+----------------+-----------+--------------------+
only showing top 20 rows

In [158]:
spark.sql("select video_id,category,sum(views)as seq from global_temp.mytable1 group by category,video_id").orderBy("seq",ascending=False).show()

+-------------+
|          seq|
+-------------+
|3093496644864|
+-------------+

In [110]:
from pyspark.sql.functions import *

In [124]:
joined_df.select("video_id",month(to_date(col('publish_time'))).alias('month')).show(10)

+-----------+-----+
|   video_id|month|
+-----------+-----+
|2kyS6SvSYSE|   11|
|2kyS6SvSYSE|   11|
|2kyS6SvSYSE|   11|
|2kyS6SvSYSE|   11|
|2kyS6SvSYSE|   11|
|2kyS6SvSYSE|   11|
|2kyS6SvSYSE|   11|
|2kyS6SvSYSE|   11|
|2kyS6SvSYSE|   11|
|2kyS6SvSYSE|   11|
+-----------+-----+
only showing top 10 rows

In [337]:
joined_df.select(month('publish_time')).distinct().show()

+-------------------+
|month(publish_time)|
+-------------------+
|                 12|
|                  1|
|                  6|
|                  3|
|                  5|
|                  9|
|                  4|
|                  8|
|                  7|
|                 10|
|                 11|
|                  2|
+-------------------+

In [140]:
month_df=(joined_df.select("video_id","publish_time","likes").groupBy("publish_time")).agg(count("likes").alias("Likes"))\
            .orderBy("Likes").show()

+-------------------+-----+
|       publish_time|Likes|
+-------------------+-----+
|2017-11-09 15:29:31|   32|
|2018-01-07 23:30:01|   32|
|2018-01-22 09:26:23|   32|
|2018-01-28 12:02:21|   32|
|2018-01-07 23:30:08|   32|
|2017-11-24 01:21:07|   32|
|2017-11-09 21:19:21|   32|
|2017-11-16 07:30:03|   32|
|2017-11-09 02:00:01|   32|
|2018-02-23 14:00:00|   32|
|2018-06-12 21:19:41|   32|
|2018-01-24 15:30:01|   32|
|2018-03-27 07:42:53|   32|
|2017-11-29 18:30:01|   32|
|2018-06-02 00:07:18|   32|
|2018-02-24 01:30:04|   32|
|2017-11-16 14:05:00|   32|
|2017-11-11 00:36:23|   32|
|2017-12-01 06:30:58|   32|
|2017-11-10 09:38:31|   32|
+-------------------+-----+
only showing top 20 rows

In [141]:
joined_df.show(5)

+-----------+-------------+--------------------+-------------+-----------+-------------------+---------------+------+-----+--------+-------------+-----------------+----------------+-----------+----------------+
|   video_id|trending_date|               title|channel_title|category_id|       publish_time|           tags| views|likes|dislikes|comment_count|comments_disabled|ratings_disabled|category_id|        category|
+-----------+-------------+--------------------+-------------+-----------+-------------------+---------------+------+-----+--------+-------------+-----------------+----------------+-----------+----------------+
|2kyS6SvSYSE|     17.14.11|WE WANT TO TALK A...| CaseyNeistat|         22|2017-11-13 22:43:01|SHANtell martin|748374|57527|    2966|        15954|            false|           false|          1|Film & Animation|
|2kyS6SvSYSE|     17.14.11|WE WANT TO TALK A...| CaseyNeistat|         22|2017-11-13 22:43:01|SHANtell martin|748374|57527|    2966|        15954|            false|           false|          2|Autos & Vehicles|
|2kyS6SvSYSE|     17.14.11|WE WANT TO TALK A...| CaseyNeistat|         22|2017-11-13 22:43:01|SHANtell martin|748374|57527|    2966|        15954|            false|           false|         10|           Music|
|2kyS6SvSYSE|     17.14.11|WE WANT TO TALK A...| CaseyNeistat|         22|2017-11-13 22:43:01|SHANtell martin|748374|57527|    2966|        15954|            false|           false|         15|  Pets & Animals|
|2kyS6SvSYSE|     17.14.11|WE WANT TO TALK A...| CaseyNeistat|         22|2017-11-13 22:43:01|SHANtell martin|748374|57527|    2966|        15954|            false|           false|         17|          Sports|
+-----------+-------------+--------------------+-------------+-----------+-------------------+---------------+------+-----+--------+-------------+-----------------+----------------+-----------+----------------+
only showing top 5 rows

In [167]:
month_df=(joined_df.select("video_id","publish_time","views").groupBy("views")).agg(count("views").alias("Likes"))\
            .orderBy("Likes").show()

+-------+-----+
|  views|Likes|
+-------+-----+
|1376133|   32|
| 986101|   32|
| 297923|   32|
|1559003|   32|
|  83947|   32|
| 582019|   32|
|  23706|   32|
| 149257|   32|
|  31928|   32|
|3106800|   32|
| 737557|   32|
| 423437|   32|
|   1896|   32|
| 143406|   32|
|2134298|   32|
| 424563|   32|
|2336544|   32|
|9568171|   32|
|1437447|   32|
|  23727|   32|
+-------+-----+
only showing top 20 rows

In [211]:
joined_df.select("video_id","publish_time","likes").groupBy("publish_time").agg(count("likes").alias("Likes"))\
            .show()

+-------------------+-----+
|       publish_time|Likes|
+-------------------+-----+
|2017-11-10 23:32:04|   96|
|2017-12-13 23:34:21|  224|
|2017-12-22 06:57:19|  160|
|2017-11-30 00:23:21|  224|
|2017-12-22 14:00:39|  352|
|2018-01-08 09:45:26|  192|
|2018-01-11 22:30:25|  192|
|2018-01-10 03:30:01|  128|
|2018-01-10 22:00:03|  160|
|2018-01-07 10:14:42|   64|
|2018-01-13 20:42:54|  160|
|2018-01-17 22:30:13|  256|
|2018-01-17 12:45:51|  160|
|2018-01-19 22:21:07|  192|
|2018-01-17 19:53:32|   96|
|2018-01-22 20:30:02|   64|
|2018-01-23 06:30:01|  128|
|2018-01-26 19:30:05|  224|
|2018-02-01 19:53:40|  160|
|2018-02-12 23:00:10|  192|
+-------------------+-----+
only showing top 20 rows

In [182]:
joined_df.select("video_id","likes").head(3)

[Row(video_id='2kyS6SvSYSE', likes=57527),
 Row(video_id='2kyS6SvSYSE', likes=57527),
 Row(video_id='2kyS6SvSYSE', likes=57527)]

In [309]:
joined_df.select("video_id","likes").distinct().union(joined_df.select("likes").groupBy("likes").agg(count("likes").alias("Likes"))\
            .orderBy("Likes")).sort("likes",ascending=False).show(3)

+-----------+-------+
|   video_id|  likes|
+-----------+-------+
|7C2z4GqqS5E|5613827|
|7C2z4GqqS5E|5595203|
|7C2z4GqqS5E|5530568|
+-----------+-------+
only showing top 3 rows

In [298]:
joined_df.select("video_id","likes","publish_time").distinct().union(joined_df.select("likes").groupBy("likes").agg(count("likes").alias("Likes"))\
            .orderBy("Likes")).sort("likes",ascending=False).show(3)

AnalysisException: Union can only be performed on tables with the same number of columns, but the first table has 3 columns and the second table has 2 columns;
'Union false, false
:- Deduplicate [video_id#100, likes#108, publish_time#105]
:  +- Project [video_id#100, likes#108, publish_time#105]
:     +- Join Inner
:        :- Relation[video_id#100,trending_date#101,title#102,channel_title#103,category_id#104,publish_time#105,tags#106,views#107,likes#108,dislikes#109,comment_count#110,comments_disabled#111,ratings_disabled#112] csv
:        +- Project [category_id#693, _c1#673 AS category#696]
:           +- Project [_c0#672 AS category_id#693, _c1#673]
:              +- Relation[_c0#672,_c1#673] csv
+- Project [likes#108 AS likes#3889, Likes#3885L AS Likes#3890L]
   +- Project [likes#108, Likes#3885L]
      +- Sort [likes#108 ASC NULLS FIRST], true
         +- Aggregate [likes#108], [likes#108, count(likes#108) AS Likes#3885L]
            +- Project [likes#108, publish_time#105]
               +- Join Inner
                  :- Relation[video_id#100,trending_date#101,title#102,channel_title#103,category_id#104,publish_time#105,tags#106,views#107,likes#108,dislikes#109,comment_count#110,comments_disabled#111,ratings_disabled#112] csv
                  +- Project [category_id#693, _c1#673 AS category#696]
                     +- Project [_c0#672 AS category_id#693, _c1#673]
                        +- Relation[_c0#672,_c1#673] csv

In [321]:
joined_df.select("video_id","likes","views").union(joined_df.select("likes","views",month('publish_time')).alias('month')).groupBy("likes").agg(count("likes").alias("Likes"))\
                                                                                      .orderBy("Likes").sort("likes",ascending=False).show()

+---------+-----+
|    likes|Likes|
+---------+-----+
|225211923|   32|
|220490543|   32|
|217750076|   32|
|210338856|   32|
|205643016|   32|
|200820941|   32|
|196222618|   32|
|190950401|   32|
|184446490|   32|
|179045286|   32|
|173478072|   32|
|167997997|   32|
|162556776|   32|
|156612892|   32|
|149830680|   32|
|149376127|   32|
|148689896|   32|
|142421830|   32|
|139334502|   32|
|137843120|   32|
+---------+-----+
only showing top 20 rows

## Answer

In [343]:
joined_df.distinct().select(month('publish_time'),"likes","video_id").distinct().sort("likes",ascending=False).show()

+-------------------+-------+-----------+
|month(publish_time)|  likes|   video_id|
+-------------------+-------+-----------+
|                  5|5613827|7C2z4GqqS5E|
|                  5|5595203|7C2z4GqqS5E|
|                  5|5530568|7C2z4GqqS5E|
|                  5|5486349|7C2z4GqqS5E|
|                  5|5439015|7C2z4GqqS5E|
|                  5|5386959|7C2z4GqqS5E|
|                  5|5321402|7C2z4GqqS5E|
|                  5|5232318|7C2z4GqqS5E|
|                  5|5150831|7C2z4GqqS5E|
|                  5|5053329|7C2z4GqqS5E|
|                  5|5023450|VYOjWnS4cMY|
|                  5|4962403|VYOjWnS4cMY|
|                  5|4934188|VYOjWnS4cMY|
|                  5|4924045|7C2z4GqqS5E|
|                  5|4836448|VYOjWnS4cMY|
|                  5|4776680|VYOjWnS4cMY|
|                  5|4750245|7C2z4GqqS5E|
|                  5|4714942|VYOjWnS4cMY|
|                  5|4656929|VYOjWnS4cMY|
|                  5|4594931|VYOjWnS4cMY|
+-------------------+-------+-----------+
only showing top 20 rows

In [351]:
ss =joined_df.distinct().count()

1308832

In [282]:
spark.sql("select video_id from global_temp.mytable1 where video_id='7C2z4GqqS5E'").count()

448

In [246]:
joined_df.select("likes","views").distinct().groupBy("views").agg(count("views").alias("panda1")).show(3)

+-------+------+
|  views|panda1|
+-------+------+
|  28124|     1|
|9915822|     1|
| 171642|     1|
+-------+------+
only showing top 3 rows

In [239]:
spark.sql("select video_id,publish_time,likes from global_temp.mytable1 order by likes desc limit 3").distinct().show(3)

+-----------+-------------------+-------+
|   video_id|       publish_time|  likes|
+-----------+-------------------+-------+
|7C2z4GqqS5E|2018-05-18 14:30:02|5613827|
+-----------+-------------------+-------+

In [189]:
US_updated.show(3)

+-----------+-------------+--------------------+-------------+-----------+-------------------+--------------------+-----+-----+--------+-------------+-----------------+----------------+--------+
|   video_id|trending_date|               title|channel_title|category_id|       publish_time|                tags|views|likes|dislikes|comment_count|comments_disabled|ratings_disabled|Addition|
+-----------+-------------+--------------------+-------------+-----------+-------------------+--------------------+-----+-----+--------+-------------+-----------------+----------------+--------+
|y6KYFcta4SE|     18.26.01|1 dead, others in...|        Newsy|         25|2018-01-23 21:00:01|"shooting|""kentu...|  549|    9|       0|            5|            false|           false|     563|
|y6KYFcta4SE|     18.27.01|1 dead, others in...|        Newsy|         25|2018-01-23 21:00:01|"shooting|""kentu...|  554|    9|       0|            4|            false|           false|     567|
|y6KYFcta4SE|     18.28.01|1 dead, others in...|        Newsy|         25|2018-01-23 21:00:01|"shooting|""kentu...|  559|    9|       0|            4|            false|           false|     572|
+-----------+-------------+--------------------+-------------+-----------+-------------------+--------------------+-----+-----+--------+-------------+-----------------+----------------+--------+
only showing top 3 rows

In [194]:
ss=joined_df.distinct()

In [196]:
ss[["video_id"]].show(3)

+--------+
|video_id|
+--------+
|  #NAME?|
|  #NAME?|
|  #NAME?|
+--------+
only showing top 3 rows